Options -Indexes
SetEnv INETMIND_PRIVATE_ROOT "/var/www/vhosts/inetconnector.com/private/inetmind-api"
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]
